.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 320px;
  height: 40px;
  background-color: #e8e9ea;
  margin-top: 10px;
  padding: 10px;
  outline: none;
}
